# -------------------
# Python
# -------------------
*.pyc
__pycache__/

# -------------------
# Environnements virtuels
# -------------------
venv/
env/
*.env

# -------------------
# Django
# -------------------
db.sqlite3
/media/
*.log
/staticfiles/

# -------------------
# IDEs et éditeurs
# -------------------
.vscode/
.idea/
*.swp

# -------------------
# OS
# -------------------
.DS_Store
Thumbs.db
